.of-badge {
  --badge-v-pad: 0.5em;
  --badge-h-pad: 0.5em;
  background: $bg-badge;
  display: inline-block;
  border-width: $border-width-badge;
  border-style: solid;
  border-color: var(--border-color-badge);
  color: var(--color-badge);
  border-radius: $border-radius-badge;
  margin: 0 0.25em 0.5em 0.25em;
  font-weight: $font-weight-badge;
  font-size: $font-size-badge;
  min-width: 2ex;
  min-height: 2ex;
  line-height: $line-height-badge;
  padding: var(--badge-v-pad) var(--badge-h-pad);
  vertical-align: $vertical-align-badge;
  text-align: center;
  & .of-icon {
    width: auto;
    margin: 0 0.25em 0 0.25em;
    vertical-align: middle;
  }
  &.of--circular {
    border-radius: 500rem;
  }
  &.of--icon {
    padding: var(--badge-v-pad) var(--badge-v-pad);
    & .of-icon {
      margin: auto;
    }
  }
  &.of--density-0 {
    --badge-v-pad: 1em;
  }
  &.of--density-1 {
    --badge-v-pad: 0.75em;
  }
  &.of--density-2 {
    --badge-v-pad: 0.5em;
  }
  &.of--density-3 {
    --badge-v-pad: 0.14em;
  }
}

.of--small {
  --font-size-badge: #{$font-size-badge-sm};
}
.of--large {
  --font-size-badge: #{$font-size-badge-lg};
}
